# Cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Ambiente Virtual (venv)
.venv/
venv/
ENV/
env/

# Configurações do PyCharm / IDE
.idea/

# Ignorar pastas de metadados e empacotamento Python
*.egg-info/
build/
dist/

# Arquivos .JSOn
*.json

# Arquivos Sistema Operacional
.DS_Store
Thumbs.db
